.container {
  margin: 0 auto;
  max-width: 1000px;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.head {
  margin: 50px 0 100px;
}
.head .title {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #bc2024;
}
.head .icon__tel {
  background: url("./images/phone.svg") no-repeat;
  display: block;
  height: 210px;
  width: 120px;
  background-position: -22px -25px;
  margin: 0 auto 30px;
}
.head h2 {
  margin: 12px 0;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.head h2 a {
  text-decoration: none;
  color: #bc2024;
}
.head h3 {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #bc2024;
  padding: 0 25px 12px;
  width: 525px;
  margin: 0 auto 20px;
  color: #bc2024;
}
.head p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}
#packages {
  margin: 50px 0 100px;
}

#packages .title {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #bc2024;
  margin-bottom: 10px;
}

#packages p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

#packages h3 {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #bc2024;
  margin: 100px 0 0;
}

#packages ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;  
  background: #eeeef0;
}
#packages li {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  border-right: 1px solid #cfcdce;
  width: 100%;
}

#packages li:last-child {border: none;}

#packages .packages__one {
  grid-template-columns: repeat(5, 200px);  
  margin: 30px 0 0;
}
#packages .packages__one li {  
  grid-template-rows: repeat(4, 115px);
}
#packages .packages__two, #packages .packages__three {
  grid-template-columns: repeat(4, 250px);
  margin: 30px 0 0;
}
#packages .packages__two li, #packages .packages__three li {
  grid-template-rows: repeat(3, 115px);
}

#packages .packages__four {
  grid-template-columns: repeat(3, 200px);  
  margin: 30px auto 0;
  max-width: 600px;
}
#packages .packages__four li {  
  grid-template-rows: repeat(3, 115px);
}

#packages .sub__package {
  height: 75px;
  position: relative;
  top: -10px;
}
#packages .sub__package .words span:first-child, #packages .sub__package .days span:first-child {
  font-size: 20px;
}
#packages .sub__package .value span {
  font-size: 20px;
}
#packages .sub__package .btn button {
  height: 40px;
  width: 120px;
  font-size: 16px;
}
#packages li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#packages li .words {
  height: 100%;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #cfcdce;
}
#packages li .words span:first-child {
  font-size: 30px;
  font-weight: bold;
}
#packages li .words span:last-child {
  font-size: 14px;
  text-align: center;
}
#packages #package_5 .words span:first-child {
  font-size: 20px;
  font-weight: bold;
}
#packages #package_5 .words span:last-child {
  font-size: 16px;
}

#packages #package_9 .words span:first-child {
  font-size: 20px;
  font-weight: bold;
}
#packages #package_10 .words span:first-child, #packages #package_11 .words span:first-child, #packages #package_12 .words span:first-child, #packages #package_13 .words span:first-child {
  font-size: 20px;
  font-weight: bold;
}

#packages li .days {
  height: 100%;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #cfcdce;
}

#packages li .days .day__one, #packages li .days .day__three {
  font-size: 16px;
}
#packages li .days .day__two {
  font-size: 30px;
  font-weight: bold;
}
#packages li .days .day__four {
  font-size: 25px;
  font-weight: bold;
}

/* #packages #package_5 .days span:first-child {
  font-size: 20px;
  font-weight: bold;
}
#packages #package_5 .days span:last-child {
  font-size: 16px;
}

#packages #package_9 .days span:first-child {
  font-size: 20px;
  font-weight: bold;
}

#packages #package_10 .days span:first-child, #packages #package_11 .days span:first-child, #packages #package_12 .days span:first-child, #packages #package_13 .days span:first-child {
  font-size: 20px;
  font-weight: bold;
} */

#packages li .value {
  height: 100%;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #cfcdce;
}

#packages li .value span {
  font-size: 30px;
  font-weight: bold;
}
#packages li .btn button {
  border: none;
  width: 160px;
  height: 52px;
  background: #bc2024;
  color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#formulario {
  margin-bottom: 180px;
}

#formulario h2 {
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #bc2024;
  margin: 0 0 70px;
}

.formulario label {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario input,
.formulario select {
  border: none;
  height: 56px;
  background: #eeeef0;
  padding: 5px 5px 5px 10px;
  outline: none;
  color: #333333;
  font-size: 16px;
  box-sizing: border-box;
}

.formulario .terminos {
  grid-column: 2/4;
  justify-self: center;
  flex-direction: initial !important;
  align-items: center;
}

.formulario .terminos label {
  font-size: 16px;
}

.formulario .terminos input {
  width: 32px;
  margin: 0 10px;
}

.formulario .terminos a {
  text-decoration: none;
  color: #bc2024;
}

.formulario .terminos a:hover {
  text-decoration: underline;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}
.formulario .form-item {
  display: flex;
  flex-direction: column;
}

.form-actions {
  grid-column: 1/4;
  justify-self: center;
  overflow: hidden;
  outline: 0;
}

.form-actions .submit {
  border: none;
  width: 295px;
  height: 56px;
  /* padding: 15px 40px; */
  border-radius: 2px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: #bc2024;
  cursor: pointer;
  transition: 0.5s;
  outline: 0;
}

.form-actions:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.message__whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.message__whatsapp .icon {
  background: url('./images/icono_whatsapp.svg') no-repeat;
  display: block;
  height: 60px;
  width: 60px;
  background-size: 100%;
}

.waves {
  position: relative;
  transition: all 0.3s ease-out;
}

.waves-ripple {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transform: scale(0);
}

.waves-animate {
  animation: waves_ripple-animate 0.5s linear;
}

@keyframes waves_ripple-animate {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media screen and (max-width: 768px) {
  /* .container {
    margin: 0 2%;
    margin-top: 350px;
  } */

  #clasificados {
    margin: 0 2%;
    width: 96%;
  }

  .head h3 {
    width: 100%;
    box-sizing: border-box;
  }
  #packages .packages__one, #packages .packages__two, #packages .packages__three, #packages .packages__four {
    grid-template-columns: 1fr;
    row-gap: 30px;
    background: none;
  }
  #packages .packages__one li, #packages .packages__two li,#packages .packages__three li, #packages .packages__four li {
    background: #eeeef0;
    border: none;
  }
  #packages li .words span:last-child { font-size: 16px; }
  #packages ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
  #packages li {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 20px 0;
  }

  #packages .sub__package {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 20px 0;
    position: static;
    height: auto;
  }
  /* #packages li .words,
  #packages li .days,
  #packages li .value {
    border: none;
  } */

  #packages li .words,
  #packages li .days {
    border-bottom: 1px solid #cfcdce;
    padding-bottom: 10px;
  }

  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario .terminos,
  .form-actions {
    grid-column: auto;
  }
  .formulario .terminos input {
    margin: 0 25px 0 10px;
    width: 80px;
  }

  .formulario input, .formulario select {
    width: 100%;
  }
}