# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

node_modules/

.sass-cache/
style.css.map
sites/default/themes/*/css/style.css.map
sites/default/themes/*/css/*
sites/default/themes/*/dist/app.css.map
stylesheets/
.vscode/

.htaccess
