@media screen and (max-width: 768px)
  #footer
    .movil
      display: block
      ul
        list-style: none
        padding: 0
        margin: 0
    #block-2
      height: auto
      .container
        flex-direction: column
        -webkit-flex-direction: column
        -moz-flex-direction: column
        align-items: center
        -webkit-align-items: center
        -moz-align-items: center
        padding: 20px 0
        hr
          display: none
        .tel, .office
          margin-bottom: 20px
    #block-3
      height: auto
      .container
        flex-direction: column
        -webkit-flex-direction: column
        -moz-flex-direction: column
        align-items: center
        -webkit-align-items: center
        -moz-align-items: center
        height: auto
      .title
        margin: 20px 0
      .opts.desktop
        display: none
      #derechos
        padding: 0 20px 20px 20px
        box-sizing: border-box
        width: 100%
