@media screen and (max-width: 768px)
  .container
    width: 100%
  #header #block1
    .container
      flex-direction: column
      -webkit-flex-direction: column
      -moz-flex-direction: column
      align-items: center
      -webkit-align-items: center
      -moz-align-items: center
  #header #block2
    height: auto
    .container
      flex-direction: column
      -webkit-flex-direction: column
      -moz-flex-direction: column
      align-items: center
      -webkit-align-items: center
      -moz-align-items: center
  #header #block3
    height: auto
    padding-bottom: 20px
    .container
      flex-direction: column
      -webkit-flex-direction: column
      -moz-flex-direction: column
      align-items: center
      -webkit-align-items: center
      -moz-align-items: center
      .buscador
        height: 98px

@media screen and (max-width: 580px)
  #header #block3 
    .container 
      .opts
        justify-content: center
        width: 96%
        .opt
          width: 100px
        .empleos
          background-position: 18px 100%
          &:hover
            background-position: 18px 100%
        .autos
          background-position: 15px 100%
          &:hover
            background-position: 15px 100%
        .finca
          background-position: 18px 100%
          &:hover
            background-position: 18px 100%
        .varios
          background-position: 22px 100%
          &:hover
            background-position: 22px 100%
      .buscador
        width: 96%

@media screen and (max-width: 380px)
  #header #block3 .container .opts
    flex-wrap: wrap
    width: 250px
