#profile
  margin: 50px auto
  #profileInfo
    position: relative
    hr
      border-color: $gris
    h3
      position: absolute
      margin: 0 auto
      background-color: $blanco
      left: 0
      right: 0
      top: -11px
      font-size: 1.1rem // 18/16 = 1.1rem -> 18px
      font-weight: 700
      text-align: center
      color: $destacados
      width: 148px
    .descripcion
      display: flex
      display: -webkit-flex
      display: -moz-flex
      align-items: center
      -webkit-align-items: center
      -moz-align-items: center
