#proyecto
  margin-top: 35px
  #inmobiliarias
    position: relative
    margin-bottom: 35px
    hr
      border-color: $gris
    h3
      position: absolute
      margin: 0 auto
      background-color: $blanco
      left: 0
      right: 0
      top: -11px
      font-size: 1.1rem // 18/16 = 1.1rem -> 18px
      font-weight: 700
      text-align: center
      color: $destacados
      width: 145px
    .logo
      background: url('../img/iconos/proyecto-fondo.svg') no-repeat
      position: absolute
      top: 30px
      left: 0
      height: 160px
      width: 170px
      z-index: 3
      .field-item
        display: flex
        display: -webkit-flex
        display: -moz-flex
        justify-content: center
        -webkit-justify-content: center
        -moz-justify-content: center
        align-items: center
        -webkit-align-items: center
        -moz-align-items: center
        height: 160px
        img
          height: 90px
          width: 145px
  #textProyecto
    margin: 60px auto
