#slider
  width: 100%
  .rslides
    position: relative
    list-style: none
    overflow: hidden
    padding: 0
    margin: 0
    li
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      position: absolute
      display: none
      width: 100%
      left: 0
      top: 0
      &:first-child
        position: relative
        display: block
        float: left
    img
      display: block
      height: auto
      float: left
      width: 100%
      border: 0

#slider-anuncio
  width: 678px
  .rslides-anuncio
    position: relative
    list-style: none
    overflow: hidden
    padding: 0
    margin: 0
    li
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      position: absolute
      display: none
      width: 100%
      left: 0
      top: 0
      &:first-child
        position: relative
        display: block
        float: left
    img
      display: block
      height: auto
      float: left
      width: 100%
      border: 0
  .rslides_tabs
    img
      height: 121px
      width: 163px 
      